.head
  %h1 My Projects
  =link_to 'New project', new_project_path, :class => 'btn primary create_project'
%br
%hr

.projects
  - if @projects.present?
    - @projects.each do |project|
      .project
        %span.controls
          = link_to 'Edit', edit_project_path(project), :title => "Edit project"
          = link_to 'Delete', project, :method => 'delete', :confirm => 'This project will be deleted permanently. Do you wish to continue?', :title => "Delete project"
        %h2= link_to project.name, "/projects/#{project.id}", :class => 'project_name'
        -#%p
          -#= project.description
      %hr
      %br 
