// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page_form h2 {
  text-align: center;
}

#new_page, .edit_page {
  margin-top: 20px;
  margin-left: 80px;
}

#page_content {
  height: 200px;
}

#errorExplanation {
  margin-left: 80px;
} 
.pages {
  margin-top: 20px;
}

.add_page {
  float: right;
}

.view_page {
  background: silver;
}

.content_frame {
  display: none;
}

#page_url {
  width: 300px;
  height: 100px;
  margin-left: 10px;
}
